<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77047001820-cmepeq32fr4j3ttm6a4c9vm05f4hr19e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77047001820-cmepeq32fr4j3ttm6a4c9vm05f4hr19e</string>
	<key>API_KEY</key>
	<string>AIzaSyDO0UKG3tA5TfKhP2QpkL28LhvNX8iGKPk</string>
	<key>GCM_SENDER_ID</key>
	<string>77047001820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HelloJaneJane.Moning</string>
	<key>PROJECT_ID</key>
	<string>moning-967e3</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:77047001820:ios:43cf79f95832be31d37a19</string>
	<key>DATABASE_URL</key>
	<string>https://moning-967e3.firebaseio.com</string>
</dict>
</plist>
